@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400&display=swap");

body {
    background-color: #fff8f0;
    margin: 0;
    padding: 0;
}
