@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400&display=swap");

body {
    background-color: #fff8f0;
    margin: 0;
    padding: 0;
}



/* formatacao da barra de rolagem */

body::-webkit-scrollbar {
    width: 12px;
    /*largura da barra de rolagem */
    background-color: #ccd4b5f3;
}

body::-webkit-scrollbar-track {
    background: #ccd4b5f3;
    /*cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #2f8d2f;
    /*cor do scroll (thumb) da barra de rolagem */
    border-radius: 20px;
    /* arredondar o scroll (thumb) */
    border: 3px solid #ccd4b5f3;
    /* criar um espaco em volta do scroll */
}

body {
  cursor: url('/mouse.png') 16 16, auto;
}

button {
  cursor: url('/pointer.png') 16 16, pointer !important;
}
button:active {
  cursor: url('/pointer.png') 16 16, pointer;
}

html, body {
    overflow-x: hidden;
}